@font-face {
    font-family: "Roboto-Regular";
    src: url("../fonts/Roboto-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "Roboto-Medium";
    src: url("../fonts/Roboto-Medium.ttf");
    font-weight: 500;
}

@font-face {
    font-family: "Roboto-Bold";
    src: url("../fonts/Roboto-Bold.ttf");
    font-weight: 700;
}

* {
    box-sizing: border-box;
}

.container,
.container-main {
    background: #EFEFEF;
}

.nav-delivery {
    padding: 17px 0;
    width: 444px;
}

.nav-delivery li:not(:last-child):after {
    content: '';
    margin-right: 30px;
}

.inline-block {
    display: inline-block;
    vertical-align: top;
}

.margin-auto {
    margin: 0 auto;
}

.info-text,
.header-button,
.title-text,
.main-button,
.btn-buy,
.email::placeholder {
    font-family: "Roboto-Regular";
    font-size: 14px;
}

.info-text {
    color: #333;
    width: 195px;
    line-height: 20px;
    text-align: center;
    margin: 10px auto 0;
}

.info-text,
.logo-text,
.nav-text,
.main-button-text,
.btn-buy a,
.category a,
.copyright-txt {
    text-decoration: none;
}

.container-logo {
    padding: 20px;
}

.fix-size {
    width: 1110px;
}

.logo-text {
    font-size: 36px;
    color: #F13C6E;
    margin-top: 20px;
    margin-left: 20px;
}

.logo-text,
.title-h1,
.subtitle,
.extra-title {
    font-family: "Roboto-Bold";
}

.nav-text {
    font-family: "Roboto-Regular";
    font-size: 16px;
}

.nav-text,
.header-button {
    color: #000;
}

.header-button,
.main-button {
    background: transparent;
    border: #F13C6E 2px solid;
    border-radius: 40px;
    padding: 12px 26px;
}

.header-button {
    margin-top: 20px;
    margin-left: 40px;
}

.clearfix::after {
    content: '';
    clear: both;
    display: block;
}

.left {
    float: left;
}

.right {
    float: right;
}

.hr {
    margin: 0;
    border: 1px solid #EFEFEF;
}

.nav-header {
    width: 673px;
    padding: 30px 0;
}

.nav-header li:not(:last-child):after {
    content: '';
    margin-right: 40px;
}

.title {
    background: url("../images/chair.png");
    height: 604px;
    padding: 192px 0;
}

.title,
.main-button-text,
.btn-buy a,
.extra-card,
.info-text.extra {
    color: #fff;
} 

.title-h1 {
    font-size: 48px;
}

.title-text {
    line-height: 20px;
    width: 308px;
    margin: 50px 0;
}

.main-button {
    border: #fff 2px solid;
}

.container-main {
    padding: 80px 0;
}

.subtitle {
    font-size: 24px;
    margin-bottom: 40px;
}

.card {
    background: #fff;
    width: 255px;
    height: 363px;
    text-align: center;
    padding: 25px 0;
    margin-right: 30px;
}

.card:last-child,
.extra-card:last-child,
.category:last-child {
    margin-right: 0;
}

.price {
    font-family: "Roboto-Medium";
    font-size: 21px;
    text-align: center;
    letter-spacing: 0.05em;
    margin: 20px 0;
}

.btn-buy {
    background: #F13C6E;
    border-radius: 30px;
    border: none;
    padding: 10px 40px;
    display: block;
    margin: 0 auto;
}

.extra-card {
    margin: 100px 30px 100px 0;
    padding: 35px 40px;
    width: 540px;
    height: 212px;
}

.bg-1 {
    background: url("../images/envelope.svg") 355px 36px no-repeat, #F13C6E;
}

.bg-2 {
    background: url("../images/car.svg") 315px 62px no-repeat, #F13C6E;
}

.extra-title {
    font-size: 18px;
}

.info-text.extra,
.info-text.extra-2 {
    text-align: left;
    margin: 25px 0;
}

.info-text.extra {
    width: 231px;
}

.info-text.extra-2 {
    width: 141px;
}

.email {
    background: #FFFFFF;
    border-radius: 30px;
    border: none;
    padding: 9px 25px;
}

.email::placeholder {
    color: #c4c4c4;
}

.btn-padding {
    padding: 7px 30px;
}

.footer-category {
    padding: 62px 0;
}

.category {
    width: 255px;
    margin-right: 30px;
}

.category-title {
    font-family: "Roboto-Medium";
    font-size: 16px;
    line-height: 22px;
    width: 100px;
    margin-bottom: 30px;
}

.category nav {
    margin-top: 26px;
}

.category a,
.copyright-txt {
    font-family: "Roboto-Regular";
    font-size: 12px;
    line-height: 28px;
    color: #828282;
    display: block;
}

.footer-link {
    padding: 35px 0;
}

.social {
    width: 45px;
    height: 46.05px;
    display: block;
    margin-right: 20px;
}

.youtube {
    background: url("../images/youtube.svg") 11px 16px no-repeat, url("../images/ellipse.svg") no-repeat;
}

.vk {
    background: url("../images/vk.svg") 8px 16px no-repeat, url("../images/ellipse.svg") no-repeat;
}

.facebook {
    background: url("../images/facebook.svg") 12px 13px no-repeat, url("../images/ellipse.svg") no-repeat;
}

.instagram {
    background: url("../images/instagram.svg") 11.5px 12px no-repeat, url("../images/ellipse.svg") no-repeat;
}

.margin-top {
    margin-top: 0;
}

.copyright {
    padding: 26px 0;
}
 
























